/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-befc9ad7-5p6gxhie.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 603px;
} 
 #vbid-befc9ad7-5p6gxhie.item-box > .item-wrapper    {
	max-width: 1000px;
}

 
 #vbid-befc9ad7-r0w7jxws.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 314px;
} 
 #vbid-befc9ad7-r0w7jxws.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-xlywvqdd   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-befc9ad7-rjfdgzza   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-befc9ad7-nwhchzsd   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-befc9ad7-2zl9qht6   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-befc9ad7-h2nadfqc.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
} 
 #vbid-befc9ad7-h2nadfqc.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-abla3bbb.master.item-box    {
	min-height: 499px;
}
 
 #vbid-befc9ad7-jdm1h6bl   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-befc9ad7-zofabw7s.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 405px;
}
 
 #vbid-befc9ad7-yxbplobm.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 277px;
}
 
 #vbid-befc9ad7-0mbghkns.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 421px;
}
 
 #vbid-befc9ad7-geobajnx.master.item-box    {
	min-height: 147px;
}
 
 #vbid-befc9ad7-eowex9nj   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-befc9ad7-y0jrcbvt   {
	background-position: 97% 47.6859512329102%;
}
 
 #vbid-befc9ad7-bxb4voma.master.item-box    {
	padding-top: 0px;
	min-height: 277px;
}
 
 #vbid-befc9ad7-6vf8q7q7.master.item-box    {
	min-height: 373px;
}
 
 #vbid-befc9ad7-zehssffv.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 656px;
} 
 #vbid-befc9ad7-zehssffv.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-boa2vitv   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-befc9ad7-mdbsocnl   {
	background-position: 50.7999992370606% 19.2000007629395%;
}
 
 #vbid-befc9ad7-btbwuhvr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 504px;
}
 
 #vbid-befc9ad7-osbogjmr.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-4kmfvspk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 297px;
} 
 #vbid-befc9ad7-4kmfvspk.item-box > .item-wrapper    {
	max-width: 998px;
}
 
 #vbid-befc9ad7-sas2mucw.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 532px;
}
 
 #vbid-befc9ad7-10ujbkdm.master.item-box    {
	min-height: 699px;
}
 
 #vbid-befc9ad7-bdjo3dtm   {
	background-position: 37.2000007629395% 21.6000003814697%;
}
 
 #vbid-befc9ad7-3qbmodez   {
	background-position: 49.5999984741211% 2.99401187896729%;
}
 
 #vbid-befc9ad7-na6crfvp   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-befc9ad7-auubd3ih.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 226px;
} 
 #vbid-befc9ad7-auubd3ih.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-hhfeucau   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-befc9ad7-jhb4dr1r.master.item-box    {
	min-height: 603px;
}
 
 #vbid-befc9ad7-dszoac0x   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-befc9ad7-07zob5ee.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 469px;
} 
 #vbid-befc9ad7-07zob5ee.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-fbuanflj.master.item-box    {
	padding-top: 35px;
	padding-bottom: 15px;
	min-height: 549px;
} 
 #vbid-befc9ad7-fbuanflj.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-onagsrur   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-befc9ad7-dci0apzg   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-befc9ad7-aifjhjdw.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 330px;
}
 
 #vbid-befc9ad7-54hwyzqz.master.item-box    {
	min-height: 587px;
}
 
 #vbid-befc9ad7-zudj52an   {
	background-position: 82.3651428222656% 53.8260879516602%;
}
 
 #vbid-befc9ad7-fplxzovn   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-befc9ad7-0gj5x8tn   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-befc9ad7-crrd3o6f   {
	background-position: 62.7999992370606% 0%;
}
 
 #vbid-befc9ad7-orj3jgad   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-befc9ad7-omqkq1tp.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 146px;
} 
 #vbid-befc9ad7-omqkq1tp.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-ivwaex0b   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-befc9ad7-rbypxawz   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-befc9ad7-fk9fupfk.master.item-box    {
	min-height: 773px;
}
 
 #vbid-befc9ad7-py0j24tj.master.item-box    {
} 
 #vbid-befc9ad7-py0j24tj.master.item-box    {
	min-height: 481px;
}
 
 #vbid-befc9ad7-zip9wyjz.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 609px;
} 
 #vbid-befc9ad7-zip9wyjz.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-ullas3r9   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-befc9ad7-69tzbnw0.master.item-box    {
	padding-top: 15px;
	padding-bottom: 10px;
	min-height: 55px;
}
 
 #vbid-befc9ad7-kv2dngyo.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 104px;
}
 
 #vbid-befc9ad7-iue6mpl3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 447px;
}
 
 #vbid-befc9ad7-qbzx66gp.master.item-box    {
	min-height: 266px;
}
 
 #vbid-befc9ad7-t3i6zau0.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
} 
 #vbid-befc9ad7-t3i6zau0.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-pmm2bqvu.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 353px;
}
 
 #vbid-befc9ad7-olaczj35.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 837px;
}
 
 #vbid-befc9ad7-wv5dhbib.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-befc9ad7-e2vfjcqt   {
	background-position: 30.082986831665% 0%;
}
 
 #vbid-befc9ad7-1f99qie7.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 351px;
} 
 #vbid-befc9ad7-1f99qie7.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-vyfxiwje   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-befc9ad7-i3b18stx.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 243px;
} 
 #vbid-befc9ad7-i3b18stx.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-r0qjj1ep   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-befc9ad7-jlbpbp8g.master.item-box    {
	padding-top: 75px;
	padding-bottom: 75px;
	min-height: 149px;
} 
 #vbid-befc9ad7-jlbpbp8g.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-jajgmwea.master.item-box    {
	min-height: 411px;
}
 
 #vbid-befc9ad7-5uvw4std.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-befc9ad7-pr9xoe79.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 283px;
} 
 #vbid-befc9ad7-pr9xoe79.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-x6jkihr8.master.item-box    {
	padding-top: 0px;
	padding-bottom: 15px;
}
 
 #vbid-befc9ad7-yjs1g8ya.master.item-box    {
	min-height: 653px;
}
 
 #vbid-befc9ad7-5vzi0o08.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 506px;
}
 
 #vbid-befc9ad7-3ooacfyx.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 556px;
}
 
 #vbid-befc9ad7-20stc2tb   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-befc9ad7-ckptffr3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 409px;
} 
 #vbid-befc9ad7-ckptffr3.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-zz0g8ack   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-befc9ad7-8kha4xdo   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-befc9ad7-u1furdlx   {
	background-position: 50.2000007629395% 8.81103992462158%;
}
 
 #vbid-befc9ad7-ozgdtajh.master.item-box    {
	padding-top: 50px;
	padding-bottom: 20px;
} 
 #vbid-befc9ad7-ozgdtajh.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-d8cqibsl.master.item-box    {
	padding-top: 35px;
	padding-bottom: 15px;
	min-height: 228px;
} 
 #vbid-befc9ad7-d8cqibsl.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-befc9ad7-8ubmk8yk   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-befc9ad7-bc6h82z4.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 409px;
} 
 #vbid-befc9ad7-bc6h82z4.item-box > .item-wrapper    {
	max-width: 1000px;
}