.center{
  display: block;
  margin: auto;
  width: 20%;
}
body{
  background:#ADBCFF;
}
h1{
  text-align: center;
  color:#376996;
}
h2{
  font-size:2vw;
  color: #376996;
}

li{
  font-size:2vw;
  color:#21295C;
  font-family: 'Oswald', sans-serif;
}
a:hover{
  color:#414288;
}
a{
  text-decoration: none;
}

a{
  color:#21295C;
  font-size:25px;
}

h3{
  color:#376996;
}
