@charset "utf-8";
/* CSS Document */

h1 {
	font-family: font-family: 'BenchNine', sans-serif; 
	font-size: 50px; 
	color:#000;
	text-align: center;
}
body {
	background-image: url(bluuuuee.jpg);
}
h2 {
	text-align: center;
	color: #000;
	font-family: font-family: 'BenchNine', sans-serif;
	font-size:25px
}
p {
	text-align: center;
	color:000;
	font-family: font-family: 'BenchNine', sans-serif;
}
