body {
	background: url("sheet-music.jpg") no-repeat right top;
	background-size: cover;
	background-attachment: fixed;
	}

#header {
	
	padding: 5px;
	margin: 40px;
	text-align: center;
	}
	
	{
	* font-family: garamond;
	font-size: 16px;
	color: #EE6565;	
	}
	

div.transbox {
	margin: 30px;
	background-color: rgba(256,256,256,0.6);
	border: 1px solid black;
	/*opacity: 0.6;*/
	filter: alpha(opacity=60); 
}

div.transbox p {
	margin: 5%;
	font-weight: bold;
	color: #000000;
}

div.background {
	background: url(klematis.jpg) repeat;
	border: 2px solid black;
}

#logo {
	margin: 0;
	}

									
h1 {
	margin: 0;
	font-size: 50px;
	color: black;
	font-weight: bold;
	}
	
h2 {
	margin: 0;
	font-size: 30px;
	color: black;
	font-weight: bold;
	}
	
p {
	font-size: 22px;
	color: black;

	}
	
/*#content {
	display: inline-block;
	background-size: 75%;
	border-style: solid;
	border-width: 30px;
	border-color: black;
	margin: 40px; 
	float: right;
	padding: 20px;
	}
	
#Pablo {
	display: inline-block;
	float: right;
	}*/
	
#image {
	display: inline-block;
	float: right;
	padding: 20px;
	}
	
table {
	font-size: 20px;
	color: #412D4F;
	font-weight: bold;
	}

#nav {
	display: inline;
	text-align: center; 
	}

	
#nav li {
	display: inline-block;
	padding-right: 20px;
	color: black;
	}
	
ul{
	list-style-type: none;
}
	
#footer {
	clear: both;
	}
a { 
	color: white;
	font-size: 18px;
	}
/* COLOR SCHEME: link: http://design-seeds.com/search/category/autumn COLORS: A32764, FC63BE, E1B6DD, B9DF9A, 775C91, 412D4F
OR MORE COLORS: LINK: http://www.colourlovers.com/palette/3829018/All_Love COLORS: C3FFE9, FCFFC3, EEC3FF, FFC3D1, C3FFF7*/

