@charset "utf-8";
/* CSS Document */
body{
	background-image:url(http://images2.layoutsparks.com/1/113204/beautiful-pink-flowers-pretty.jpg);
	margin:75px;
	font-family: 'Open Sans Condensed', sans-serif;
	}
	p{
		font-family: 'Lato', sans-serif;
	}
h1{
	font-family: 'Pacifico', cursive;
}
#intro{
	font-size:18px;
	color:#F06
	}
#welcome{
	font-size:48px;
	color:#FFF
} 
#fun{
	border:thick #C0F;
	margin-bottom:50px;
}

a{
	color:#F9F;
}
div{
	margin-left:200px;
}

