@charset "utf-8";
/* CSS Document */

h1{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FB5F00;
	text-size: 49px;
	text-alignment: center;
}
*{
	background-color: #FBEAD0;
	border-width: medium;
	border-color: #045C66;;
}
h2{
	text-align: left;
	color: #FB5F00;
	border: solid;
	border-color: #045C66;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
p{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #01313F;
	text-align: left;
	border: solid;
	border-color: #045C66;
}
div{ 
	width: 700px
}
h3{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: left;
	border: solid;
	border-color: #045C66;
	color: #FB5F00;
}