ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

li {
   text-align:center;
   font-size:5vw;
   margin-bottom: 100px;
}

a{
  text-decoration:none;
}

a:hover {
  color:teal;
}

a{
  font-family: 'Ewert', cursive;
}
