html {
background:#ffffd6 url(html_bg.gif) repeat-x;
font-family:Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
font-size:62.5%;
margin:0;
padding:0;
}

body {
margin:20px auto 0 auto;
width:780px;
}

/* ----------- FORMATTING  ----------- */

a:link, a:visited {
color:#ec0b8c;
text-decoration:none;
}

a:hover, a:active {
color:#49ADE3;
}

h1, h2, h3 {
color:#49ADE3;
font-family:Georgia, Palatino, Palatino Linotype, Serif;
font-size:2.0em;
font-style:italic;
font-weight:normal;
}

h2 { font-size:1.7em; line-height:1.2em; }

h2.special {color:#ec0b8c}
h3 { font-size:1.4em; }

/* ----------- LAYOUT ----------- */

#header {
background: #ffffd6 url(header_bg.gif) top center;
height:60px;
margin:0 auto;
width:770px;
}

#nav {
background-color:transparent;
color:#49ADE3;
float:left;
font-family:Georgia, Palatino, Palatino Linotype, Serif;
font-size:1.6em;
letter-spacing:0.1em;
line-height:1.6em;
min-height:500px; /* for modern browsers */
height:auto !important; /* for modern browsers */
height:500px; /* for IE5.x and IE6 */
padding-top:25px;
text-align:right;
width:150px;
}

#nav a:link, #nav a:visited {
color:#FFA64C;
}

#nav a:hover, #nav a:active {
color:#49ADE3;
}

#content { 
background:#ffffeb url(content_bg.gif) repeat;
border-bottom:1px dashed #49ADE3;
color:#000;
font-size:1.2em;
line-height:1.2em;
min-height:500px; /* for modern browsers */
height:auto !important; /* for modern browsers */
height:500px; /* for IE5.x and IE6 */
margin-left:150px;
padding:0 10px;
width:605px;
}

#footer { 
background-color:transparent;
color:#FFA64C;
font-family:Georgia, Palatino, Palatino Linotype, Serif;
font-style:italic;
margin-left:150px;
margin-top:5px;
padding-bottom:30px;
text-align:right;
width:620px;
}