@charset "utf-8";
/* CSS Document */
h1 { 
	color:hotpink; 
	font-family: "Comic Sans MS", cursive;

}
h2{ 
	color: purple;
	font-family: "Comic Sans MS", cursive;
}
img {
	width: 500px;
	height: 400px;
}
.pictures {
	width: 400px;
	height: 300px;
} 
.uggs {
	width: 300px;
	heigh: 300px;
} 
.pic { 
	width: 300px; 
	height 300px; 
} 