body {
	background: #B9F6CA;
}

h1 {
	font-size: 90px;
	font-family: 'Oleo Script Swash Caps', cursive;
	color:#000000;s
	font-weight: bold;
}
	
h2 {
	font-size: 40px;
	font-family: 'Sumana', serif;
	color:#000000;
	font-weight: normal;
	text-align:center;
}

p {
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	color:#000000;
	margin-right: 300px;
	text-align: justify;
}
#content {
	background: #B2EBF2;
	/*float: right;ss
	width: 80%;*/
	margin-left: 10%;
	padding: 10px;
	padding-left: 50px;
}

#footer {
	float: left;
	clear:left;
	
}

#header {
background: #006600;
text-align:center;
	
}
#image{
	margin:5%;
	float:right;
	
}
#nav {
	background:#009933;
	height:555px;
	width: 120px;
	float:left;
	/*clear: both;*/
	font-size: 20px;
	text-align:
	
	
}
#nav ul{
	/*list-style-type:none;*/
	display: block;
}
#nav li {
	list-style-type: none;
	display: block;
	padding: 20%;
	
/*}
#image2
	margin: 5%;
	float: right;*/


