body {
	background-image:"http://www.psdgraphics.com/file/light-pink-background.jpg";
}
h1{
	border:4px solid #F39;
	background-color:#FCF;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:40px;
	margin-top:40px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:center;
	font-size:50px;
}
h2{
	border:4px solid #F39;
	background-color:#fcf;
	margin-left:40px;
	margin-right:40px;
	margin-bottom:40px;
	margin-top:40px;
	text-align:center;
}
img {
	border:4px solid #C69;
	margin:auto;
}
#honey{
	margin-left:125px;
}
#hedge{
	width:255; 
	height:209;
	margin-left:200px;
}
#cats{
	 width:257;
	 height:171;
	 margin-left:200px;
}
#dogs{
	 width:257;
	 height:171;
	 margin-left:200px;
}
#snakes{
	 width:258;
	 height:145;
	 margin-left:200px;
}
#birds{
	 width:258;
	 height:239;
	 margin-left:200px;
}
#mouse{
	 width:263;
	 height:182;
	 margin-left:200px;
}
li{

}
#secdiv {
	float:left;
	width:800px;
	border:6px solid #F39;
	padding-right:50px;
	padding-left:60px;
	background-image:"http://www.emoticonswallpapers.com/background/thumb/hearts/heart-pattern-067.jpg";
	font-size:20px;
	margin-left:100px;
	padding-bottom:100px;
}
#firstdiv {
	float:left;
	border:6px solid #F39;
	background-image:"http://www.emoticonswallpapers.com/background/thumb/hearts/heart-pattern-067.jpg";
	padding-left:40px;
	padding-right:40px;
	font-size:20px;
	margin-left:100px;
	margin-right:100px;
}
#thirdiv {
	float:left;
	border:6px solid #F39;
	text-align:center;
	margin-left:60px;
	background-image:"http://www.zingerbugimages.com/backgrounds/pink_starburst_fractal_background_seamless.jpg";
	padding-left:100px;
	padding-right:125px;
	font-size:20px;
}
#fourdiv {
	float:left;
	border:6px solid #F39;
	background-image:"http://www.emoticonswallpapers.com/background/thumb/hearts/heart-pattern-067.jpg";
	margin-left:60px;
	font-size:30px;
	width:350px;
	padding-left:50px;
	padding-right:30px;
	padding-bottom:30;
}
#meme{
	margin-left:60px;
	width:433;
	height:244;
}
#othermeme{
	margin-left:60px;
	width:434;
	height:368;
	margin-top:30px
}