body{
	background: lightblue;
	font-size: 20px;
}
h1 {
	font-size:75px;
	font-family: Indie Flower;
	background-color: white;
}
div#hi {
	width: 1000px;
	font-family: 'Domine', serif;
}
div#Navigation {
	background-color: #000066;
	color: white;
}
th {
	width: 300px;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: lightblue;
}
div#feet {
	color: white;
	background-color: #000066;
	position: relative;
	bottom: -290px;
	font-size: 15px;
}