<!DOCTYPE html>

<html>
<head>
	<!--fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
	<!--end fonts-->

	<title>Past Artemis Years</title>

	<link rel="stylesheet" href="../style/style.css" type="text/css">

</head>

<body>
<div class="container">
    
  <div class="sidebar1">
    <ul class="nav">
    <img src="../static/pics/whitelogo.png" height="150"  display:block; class="centeredImage" />
  	<img src="../static/pics/name_plate.png"  width="100%" height="50" display:block; />
	<li><a href="../static/index.html">Home</a></li>
    <li><a href="../static/about.html">About</a></li>
	<li><a href="../static/applications.html">Applications</a></li>
	<li><a href="../static/calendar.html">Calendar</a></li>
	<li><a href="../static/contact.html">Contact Us</a></li>
    <li><a href="../static/coordinators.html">Coordinators</a></li>
	<li><a href="../static/lessons.html">Lessons</a></li>
	<li><a href="../static/pictures.html">Pictures</a></li>
	<li><a href="../static/resources.html">Resources</a></li>
	<li><a href="../static/sponsors.html">Sponsors</a></li>
    <li><a href="../static/students.html">Students</a></li>
    <li><a href="../static/past.html">Past Years</a></li>
    </ul>
  </div>
 
  <div class="content">
   <div class="header">
 		<h2>Past Years</h2>
    </div>
    <div class="box">
    <br/>
    <br/>
    <hr/>
    <br/>
    <h3>Website Archive</h3>
    <p>Check out the Artemis websites from former years:</p>
    <hr/>
    <br/>
        <br/>
			<table class="past_table">
            	<tr>
                	<td vertical-align="text-top">
                        <h7>2010s</h7>
						<u>
						<li>
							<a href="../../old/2017">2017</a>
						</li>
						<li>
							2016
						</li>
                        <li> 
                            <a href="../../old/2015">2015</a>
                        </li>
                        <li> 
                            <a href="../../old/2014.5">2014.5</a>
                        </li>
                        
                        <li> 
                            <a href="../../old/2014">2014</a>
                        </li>
                        
                        <li>
                            <a href="../../old/2013">2013</a>
                        </li>
        
                        <li>
                            <a href="../../old/2012">2012</a>
                        </li>
        
                        <li>
                            <a href="../../old/2011">2011</a>
                        </li>
        
                        <li>
                            <a href="../../old/2010">2010</a>
                        </li>
                        </ul>
                    </td>
                    
                    <td vertical-align="center">
                        <h7 padding-left = "0px">2000s</h7>
                        <ul>
        
                        <li>
                            <a href="../../old/2009">2009</a>
                        </li>
        
                        <li>
                            <a href="../../old/2008">2008</a>
                        </li>
        
                        <li>
                            <a href="../../old/2007">2007</a>
                        </li>
        
                        <li>
                            <a href="../../old/2006">2006</a>
                        </li>
        
                        <li>
                            <a href="../../old/2005">2005</a>
                        </li>
        
                        <li>
                            <a href="../../old/2004">2004</a>
                        </li>
        
                        <li>
                            <a href="../../old/2003">2003</a>
                        </li>
        
                        <li>
                            <a href="../../old/2002">2002</a>
                        </li>
        
                        <li>
                            <a href="../../old/2001">2001</a>
                        </li>
        
                        <li>
                            <a href="../../old/2000">2000</a>
                        </li>
                        </ul>
                    </td>
                    
                    <td>
                        <h7 padding-left = "0px">1990s</h7>
                        <ul>
                        <li>
                            <a href="../../old/1998">1998</a>
                        </li>
        
                        <li>
                            <a href="../../old/1997">1997</a>
                        </li>
        
                        <li>
                            <a href="../../old/1996">1996</a>
                        </li>
                        </ul>	
                    </td>
                </tr>
            </table>
	</div>
  </div>
</div>
</body>
</html>


