<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!--fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<!--end fonts-->

	<title>Artemis Pictures</title>

	<link rel="stylesheet" href="../style/style.css" type="text/css">
</head>

<body>
<div class="container">
  <div class="sidebar1">
    <ul class="nav">
      <script type="text/javascript" src="../js/navmenu.js"> </script>
    </ul>
  </div>

  <div class="content">
  	<div class="header">
 		<h2>Pictures</h2>
    </div>
    <div class="box">
		<br/><br/>

		<hr />
		<h3>View our photo albums on our 
			<a href="https://www.facebook.com/TheArtemisProject" target="_new">Facebook page</a>.</h3>
		<p></p>
		<hr />
		<br />
		<br/>
    </div>
  </div>
</div>
</body>
</html>
