body {
    font-family: Georgia, "Times New Roman", Times, serif"Times New Roman";
	background-color: #CCF ;
}

h1 {
	margin:15px;
}

h3 {
	margin:15px;
}

h4 {
	margin:15px;
}

p {
	margin:15px;
}

#img2{
	margin:15px;
}

#header22{
padding : 2px;
color: white;
text-align:left;
font-family: “Times New Georgia, "Times New Roman", Times, serif”;
width: 150px;
font-size: 15pt;
font-weight: bold;
margin: 15px; /* changes whitespace around element */
border: 2px #FFFFFF; 
background-color:blue ;
}


#header2 {
top : 0px;
margin : 0px 25% 0 165px;
padding : 3px;
color: black;
text-align: center;
font-family: “Times New Georgia, "Times New Roman", Times, serif”;
font-size: 16pt;
font-weight: bold;
margin: 15px; /* changes whitespace around element */
padding: 10px; /* changes whitespace inside element */
border: 2px solid blue;
background-color:#9CF ;
}

#content2 {
padding : 3px;
color: black;
text-align: left;
font-family: “times Georgia, "Times New Roman", Times, serif”;
font-size: 16pt;
font-weight:normal;
margin: 15px;
border: 2px solid blue;
background-color: #9CF;
}

#footer2 {
margin : 15px;
padding : 3px;
color: black;
text-align: center;
font-family: “times Georgia, "Times New Roman", Times, serif”;
font-size: 12pt;
font-weight:normal;
border: 2px solid blue;
background-color:#9CF;
}