<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<!--end fonts-->

<title>Artemis Applications</title>

<link rel="stylesheet" href="../style/style.css" type="text/css">

</head>

<body>


<div class="container">

  <div class="sidebar1">
    <ul class="nav">
      <script type="text/javascript" src="../js/navmenu.js"> </script>
    </ul>
  </div>

  <div class="content">
    <div class="header">

    <h2>Applications</h2>
    </div>

	<div class="box">
    <br />
    <br />
    <hr />

    <h3>   How to apply </h3>
    <p><strong>Applications for Artemis 2018 are closed. </strong> </p>
	<p>Thank you for your interest! Check back in late Winter or early Spring of 2019 for next year's application.</p>

    <h3>Questions?</h3>
    <p>If you have any questions about the application process or about the Artemis Project in general, please contact us at <a href="mailto:artemis@cs.brown.edu">artemis@cs.brown.edu</a></p>.
 
    <br />
    <br />
    <br />
    <br />
    <br />

 <!--<h3>Coordinators</h3>
<p>Applications for 2015 coordinators have closed. </p>--!>
<!--  <a href="https://docs.google.com/a/brown.edu/forms/d/1h3dmDOOzqt_sKfmamOHHV0yQlNluVVfe-htmsfNSN-0/viewform">Click here for the 2015 Artemis Coordinator Application!</a></p>

<p>Applications for Artemis 2015 coordinators are due <strong>November 1st.</strong> Applicants must be Brown University undergraduates who identify as female and have studied some Computer Science. Students currently in their first semester of an intro sequence <strong>are</strong> qualified and encouraged to apply! This is a competitively-paid position that has a spring semester component.</p>

<p>Artemis coordinators are selected for a variety of strengths and skills, including independence, ability to both contribute ideas and to build off the ideas of others, teaching experience, organizational skills, and creativity. Artemis coordinators are responsible for both administrative and academic aspects of a university summer program. They recruit and evaluate applicants, reserve classroom space, arrange lunches, and organize field trips and speaker events. They also develop, write, and teach five weeks' worth of curriculum. It is particularly important that applicants be able to carry out job responsibilities without supervision. Applicants should be self-motivated and capable of figuring out what needs to be done, then doing it.</p> -->
	</div>
  </div>
</div>
</body>
</html>
