/* Hexadecimal Colors: from dark-light
We have yet to find a theme and color in different objects.  
*/



#header {
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 90px;
	font-size: 90px;
	background-color: white;
	color: #1a237e;

}

#header span {
	display: inline-block;
	padding: 15px;
	top-padding: 10px;
	font-size: 20px;
	background-color: white;
	}

#nav {
	background-color: #E3F2Fd;
	margin-top: 50px;
	margin-left: 45px;
	margin-right: 45px;}

#nav li{
	display: inline-block;
	padding: 25px;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff9c4;
	
}
	
#content {
	margin-right: 45px;
	margin-left: 45px;
	background-color: #E3F2FD;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 50px;
	}

p {	
	color: #1a237e;
	}
	
#image {
	clear: right;
	display: inline-block;
	float: right;
	margin-top: -40px;
}
table, tr, td {
	border: 1px solid black;
	}
	
ul {
	list-style-type: square;}
	

	
#footer{
	padding-top: 420px;}
	
#bio {
	float: right;
	display: inline-block;
	clear: right;
	margin-right: 10px;
	border-style: dotted;
	border-color: black;
	border-width: 5px;
	margin-top: 40px;

	}


#footer li{
	display: inline-block;
	padding: 15px;}
	
#emeline {
	padding-top: 10px;
	}

#table_row1 {
	color: #536dfe;
	background-color: white;}

#table_row2 {
	color: #1a237e;
	background-color: white;}
	
#artemis {
	padding-right: 350px;}
	
#brown {
	float: right;
	clear: right;
	display: inline-block;
	margin-top: -85px;
	padding-left: 100px;
	padding-right: 10px;}

#moreInfo {
	padding-right: 250px;}