
body {
    font-family:'Raleway',sans-serif;
	background-image : url(amusement.jpg);
	color: white; 
}

h1 { 
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size:55px;
	color: #26C2FF
}

h3 { 
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size:25px;
	color: #26C2FF
	
	 
}

p {
	

	
}

#header {
	padding: 5px;
	width: 800px;
	background: #000;
	margin:auto; 
	margin-bottom: 10px;
	
	
}

#footer a { 
	color: #FF9900;
}
	 
	
#nav a{
	display: inline-block;
	text-align:center;
	margin:4px;
	color:#FF9900
	 
}
#nav { 
	text-align:center;
	font-size:20px;
	padding: 5px;
	width: 800px;
	background: #000;
	margin:auto; 
	margin-bottom: 15px;

}


#nav ul{
	list-style-type: none;
}

#nav li{
	display: inline-block;
}

#content { 
	padding: 5px;
	width: 800px; 
	background:#000;
	margin:auto; 
	height:800px; 
	margin-bottom: 15px;


}

#image {
	display:inline-block;
	float:left;	
	padding-right: 20px; 
	height: 750px;
	width: 220px;
	
}

#lower{
	
	
}
img {
	width: 200px;
	height: 180px; 
	padding: 10px;
	
}

#footer {
	text-align:center;
	font-size:14px; 
	padding: 5px;
	width: 800px; 
	background: #000;
	margin:auto;
	color:  #FF9900


}

.pictures {
	padding-left:80px;

}

.pics {
	padding-left: 40px;
	height:150px;
	
}

