h1 {color: #F30; font-family: 'Over the Rainbow', cursive;}
h3 {color: #F60; font-family: 'Over the Rainbow', cursive;}
h4 {color: #FFCC00; font-family: 'Over the Rainbow', cursive; }
a {color: #36F; text-decoration: none;}
body {margin: auto; text-align: center; background-color: #CCF}
img {float: left; border: 1px #69C}

#text{
	float: left;}