<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<!--end fonts-->

<title>Artemis Calendar</title>

<link rel="stylesheet" href="../style/style.css" type="text/css">


<body>

<div class="container">
    
  <div class="sidebar1">
    <ul class="nav">
      <script type="text/javascript" src="../js/navmenu.js"> </script>
    </ul>
  </div>
 
 
  <div class="content"> 
    <div class="header">
		<h2>Calendar</h2>
    </div>
    <div class="box">
	  <br />
	  <br />
	  <hr />
	  <h3> The Artemis Project Google Calendar</h3>
	  <p>	
	  To link the Artemis Calendar to your own Google Calendar, click the link in the bottom right corner of the calendar widget. </p>
	  <hr />
	  <br />
	  <br />
	  <!-- google calendar -->
	  <iframe src="https://calendar.google.com/calendar/embed?src=2rv74gmmllamfb9afjuvst2lfg%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
	  <!-- end google calendar -->
	</div>
  </div>
</div>
</body>
</html>
