<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<!--end fonts-->

<title>Artemis Coordinators</title>

<link rel="stylesheet" href="../style/style.css" type="text/css">

</head>

<body>

<div class="container">


  <div class="sidebar1">
    <ul class="nav">
      <script type="text/javascript" src="../js/navmenu.js"> </script>
    </ul>
  </div>

  <div class="content">
	  <div class="header">
		  <h2>Coordinators</h2>
	  </div>
	  
	  <div class="box">
		  <!-- subheader -->
		  <br />
		  <br />
		  <hr />
	      <h3>2018 Blumberg-Ginsburg Coordinators</h3>
		  <p>The Artemis Coordinators are undergraduate women at Brown University who are passionate about computer science. You can contact them at <a href="mailto:artemis@cs.brown.edu">artemis@cs.brown.edu</a>.</p>

		  <hr />
          <!-- end .subheader -->

          <br />
          </br>

          <h4>Gaby Trevino</h4>
		<table>
		  <th><img src="../static/../static/pics/bio_pics/gaby.jpg" width="300px"></th>
			<tr>
				<td>
					<p><b>Year:</b> 2021<br/>
					<b>Hometown:</b> San Antonio, Texas<br/>
					<b>Hobbies and interests:</b> Bullet journaling, sunshine, watching movies, discovering new music, 
					dog videos, making art and singing in the shower<br/>
					<b>Favorite animated movie:</b> Fantastic Mr. Fox and Lilo and Stitch<br/>
					<b>Favorite Food:</b> Vanilla Lattes<br/>
					<b>Favorite compliment to recieve: </b> "Gaby, you're glowing!"<br/>
				</td>
			</tr>
		</table>

		<h4>Sunny (Yunxin) Deng</h4>
		<table>
		  <th><img src="../static/pics/bio_pics/sunny.jpg" width="300px"></th>
			<tr>
				<td>
					<p><b>Year:</b> 2021 <br/>
					<b>Hometown:</b> Guangdong, China <br/>
					<b>Hobbies and interests:</b> Jazz, ballet, piano, travelling, finding new types of food, and talking with anyone<br>
					<b>Favorite animated movie:</b> Ice Age <br/>
					<b>Favorite Food: </b> Cappuccino <br/>
					<b>Favorite compliment to recieve:</b> “You’re sunny even on a rainy day” <br/>
				</td>
			</tr>
		</table>

		<h4>Tomi Madarikan</h4>
		<table>
			<th><img src="../static/pics/bio_pics/tomi.png" width="300px"></th>
			<tr>
				<td>
					<p><b>Year:</b> 2021 <br/>
					<b>Hometown:</b> Lagos, Nigeria <br/>
					<b>Hobbies and interests:</b> Singing, dancing, eating, meeting up with friends
					<br>
					<b>Favorite animated movie:</b> The Lion King, Mulan <br/>
					<b>Favorite Food: </b> Japanese Ramen <br/>
					<b>Favorite compliment to recieve:</b> “I really admire you...you’re also really pretty” <br/>
				</td>
			</tr>
		</table>


		<h4>Audrey Kintisch</h4>
		<table>
			<th><img src="../static/pics/bio_pics/audrey.jpg" width="400px"></th>
			<tr>
				<td>
					<p><b>Year:</b> 2020 <br/>
					<b>Hometown:</b> Keene, NH <br/>
					<b>Hobbies and interests:</b> Running outside, listening to comedy podcasts, drawing plants, listening to music <br>
					<b>Favorite animated movie:</b> Nausicaa of the Valley of the Wind<br/>
					<b>Favorite Food: </b> Earl Grey Tea <br/>
					<b>Favorite compliment to recieve:</b> Being told that I’m a good friend<br/>
				</td>
			</tr>
		</table>
	  </div>
  </div>
</div>
</body>
</html>
