*{
	font-family: 'Myriad Pro', sans-serif; 
	text-decoration: none;
}

body {
	background: white;
	margin-top:0%;
}

#nav {
	background: #3C7D94;
	height: 10.7%;
	width:100%;
	margin-top:0%;
	display: block;
}

#logo {
	display: inline-block;
	float: left;
	margin-top: 1.1%;
}

#nav h1 {
	display: inline-block;
	margin-top: 1.5%;
	text-decoration: none;
	font-size: 50px;
}

#nav a {
	color: white;
	text-align: end;
}

#nav ul {
	list-style-type: none;
	text-align: center;
	margin-left: 65%;
	margin-top: -5.8%;
}

#nav li {
	display: inline-block;
	padding: 5%;
	text-decoration: underline;
	font-size: 20px;
}

#content {
	text-align: center
	font-size: 16px;
}

#slogan {
	margin-top: 0%;
	margin-bottom: 2%;
	width: 100%;
	display: block;
	text-align: center;
}

#footer {
	margin-top: 2%;
	margin-bottom: 0%;
	font-size: 15px;
	background: #3C7D94;
	color: white;
	text-align: center;
}

#footer ul {
	list-style-type: none;
}

#footer li {
	display: inline-block;
	padding: 4%;
}

#footer a {
	color: white;
	text-decoration: underline;
	text-align:end;
}

/*posible color scheme: 796E76, 6998B6, 46B0AB, 8AE093, E0F0D4*/
