h1 {
color: #69F;
text-align: center;
font-size: 70px;
background-color: #FF9
}
h2 {
color: black; 
font-family: Georgia
}
h4 {
	font-size: 30px; 
	color: black
}
p {
font-family: fantasy;
}
div p {
	color: #69F;
	background-color: #FF9
}
body {
	background-image: url(Untitled-1.jpg);
}
#lister {
	width: 200px;
	color: #36C; 
	font-size: 16px; 
	background-color: white
}
ol {
	color: 36C;
	background-color: white;
	width: 200px;
	font-size: 16px
}
