body {
    font-family:'Raleway',sans-serif;
	background-image:url(finalposter.jpg);
}

h1 {
}

h3 {
	color: #0FF;

}

p {
}

#header {
	text-align:center;
	width: 600px;
	margin: 50px;
	border: solid white;
	color: #66C;
	background-color: black;
	padding: 20px;
}

#nav a{
	float: left;
	margin-left: 70px;
	margin-right: 70px;
	background-color: white;
	color:#F06 ;
	padding: 15px;
}

#nav ul{
	list-style-type: none;
}

#nav li{
}

#content {
	float: left;
	width: 600px;
	margin: 50px;
	border: solid white;
	color: #C06;
	background-color: white;
	padding: 20px;
}

#image {
	float: right;
	border: solid #66C;
}

#lower{
}

#footer {
	float:center;
	width: 599px;
	margin: 50px;
	background-color: white;
	padding: 20px;
}