body {
    font-family:'Raleway',sans-serif
	padding:left;
	background-color: #CAE4FF;
}

h1 {
	text-align:center;
	color: #93F;
	font-family: 'Marck Script', cursive;
	font-family: 'Lobster', cursive;
	
}

h3 {
	text-align:center;
	color:#93F;
	font-family: 'Marck Script', cursive;
	
}

p {
	text-align:right;
	text-align:center;
	font-family:"Comic Sans MS", cursive;
}

#header {
	border: 4px solid black;
	min-width:700px;
	margin:auto;
	width: 1000px;
	font-family:"Comic Sans MS", cursive;
	
	
}

#nav{
	width:1000px;
	height:75px;
	border: 4px solid black;
	
	text-align:center;
	min-width:700px;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#nav a{
	display: inline;
	margin: 35px;
	text-align:center;
	float:center;
	magin:auto;
}
#nav ul{
	list-style-type: none;
	float:center;
	magin:auto;
s}
#nav li{
	display:inline;
	float:center;
	magin:auto;
}
#content {
	border: 4px solid black;
	width: 1000px;
	height:650px;
	float:center;
	min-width:700px;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#image {
	float: right;
	border: 4px solid black;
	padding:0px;
	margin:5px;
}

#lower{
	float:center;
	magin:auto;
}

#footer { 
	border: 4px solid black;
	text-align:center;
	min-width:700px;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 1000px;
	font-family:"Comic Sans MS", cursive;
}