body {
    font-family:'Raleway',sans-serif;
	background-color:#666
}

h1 {
	text-align:center;
	width:800px;
	font-size:75px
}

h3 {
}

p {
}

#header {
	text-align: center;
	width:800px
}

#nav a{
	display: inline-block;
	margin: 5px;
	text-decoration:none;
}

#nav ul{
	list-style-type: none;

}

#content {
	float:center;
	text-align: center;
	display:inline-block;
	width:800px;
	font-size:px;
}

#image {
	float:left;
	display:inline-block;
	margin-bottom:500px;
	margin-right:20px
	
}

#lower{
	text-align:center;
}

#footer {
	text-align:center;
	margin-top: 100px;
	font-size: 14px
}

#nav {
	text-align:center;
	width: 100%;
	text-align:center;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	border:solid;
	border-color:#FFFFFF
	font-size:20px;
	height:50px;
	padding-bottom:20px;
	color:#000000
}
#nav li {
	display:inline-block;
	padding-left:20px;
	padding-right:20px
}
#et {
	margin-left:auto;
	margin-right:auto;
	width: 800px;
}
* {
	text-align:center;
}
#p {
	text-align:center
}
#h3 {
	font-size: 45px
}
#ol {
	font-size: 30px
}
#t {
	font-size:35px
}