p {font-family:Helvetica,Geneva; font-style:normal; font-size=10pt}
h1 {font-family: Verdana; font-size=9pt}

A:link {color:#00cc66;text-decoration:none}
A:visited {color:#3399ff;text-decoration:none}
A:hover {color:#0000ff;text-decoration:none}