


body {
    font-family:'Raleway',sans-serif
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

p {
}

#header {
	border-style: double;
	border-width: 3px;
	border-color: #06F;
	
}

#nav {
	list-style: none;
	margin: 0px;
	height: 60px;
	border-style: double;
	border-width: 3px;
	border-color: #06F;
	text-align: center;
}

#nav a{
	text-align: center;	
	
}

#nav ul{
	list-style-type: none;
	display: inline;
	text-align: center;
}

#nav li{
	float: left;
	margin: 40px;
	text-align: center;
}

#content {
	text-align: center;
	padding: 15px;
	border-style: double;
	border-width: 3px;
	border-color: #06F;
}

#image {
	float: right;
	margin: 10px;
	border-style: double;
	border-width: 3px;
	border-color: #06F;
}

#lower{
	
}

#footer {
	text-align: center;
	border-style: double;
	border-width: 3px;
	border-color: #06F;
}


#Id {
	text-align: center;
	width:
	
}






