.hdr1 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #222222; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: none
}
.hdr2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333333; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: none
}
.hdr3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 1px; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: none
}
TD.hdrwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 16px; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: none
}
.body {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: none
}
.bodysm {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: none
}
.bodysmw {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: none
}
TD.body {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: none
}
.srch {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, arial, geneva; HEIGHT: 20px; TEXT-DECORATION: none
}
.sbmt {
	FONT-SIZE: 10px; HEIGHT: 21px
}
SELECT {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 12px; COLOR: #3333cc; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 12px; COLOR: #9966cc; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 12px; COLOR: #3333cc; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 12px; COLOR: #cc3333; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A.sm:link {
	FONT-SIZE: 10px; COLOR: #3300cc; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A.sm:visited {
	FONT-SIZE: 10px; COLOR: #6633ff; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A.sm:active {
	FONT-SIZE: 10px; COLOR: #3300cc; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A.sm:hover {
	FONT-SIZE: 10px; COLOR: #cc0033; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A.breadcrumb:link {
	FONT-SIZE: 10px; COLOR: #ffff99; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A.breadcrumb:visited {
	FONT-SIZE: 10px; COLOR: #ffff99; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A.breadcrumb:active {
	FONT-SIZE: 10px; COLOR: #cccc66; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A.breadcrumb:hover {
	FONT-SIZE: 10px; COLOR: #cccc66; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
TD.breadcrumboff {
	FONT-SIZE: 10px; COLOR: #cccc66; FONT-FAMILY: verdana, arial, geneva
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; Z-INDEX: 10; LEFT: 0px; WIDTH: 150px; FONT-FAMILY: verdana, helvetica, sans-serif; POSITION: absolute; HEIGHT: 20px
}
.submenu {
	FONT-SIZE: 8px; Z-INDEX: 20; LEFT: 15px; VISIBILITY: hidden; WIDTH: 140px; FONT-FAMILY: helvetica, sans-serif; POSITION: absolute; BACKGROUND-COLOR: beige; layer-background-color: beige
}
A.yellow {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffff00; FONT-FAMILY: arial, geneva
}
A.yellow:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial, geneva
}
A.yellow:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffff00; FONT-FAMILY: arial, geneva
}
A.bPack {
	FONT-SIZE: 8pt; COLOR: black; TEXT-DECORATION: none
}
A.bPack:hover {
	FONT-SIZE: 8pt; COLOR: black; TEXT-DECORATION: none
}
A.bPack:visited {
	FONT-SIZE: 8pt; COLOR: black; TEXT-DECORATION: none
}
A.sitemap {
	COLOR: white
}
A.sitemap:link {
	COLOR: white
}
A.sitemap:visited {
	
}
A.sitemap:hover {
	COLOR: red
}
LI.market {
	FONT-SIZE: 10pt; MARGIN-LEFT: -10px; TEXT-INDENT: 0px; LIST-STYLE-TYPE: disc
}
.wdjword {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; MARGIN-BOTTOM: 2px; COLOR: red; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.wdjlink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.lgBody {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #333333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.lgLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003366; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.smallheader {
	FONT-WEIGHT: bold; FONT-SIZE: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.definition {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.header3 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #444444; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.header4 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #444444; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.error {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: red; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.smNew:link {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A.smNew:visited {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A.smNew:active {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
A.smNew:hover {
	FONT-SIZE: 10px; COLOR: #cc0033; FONT-FAMILY: verdana, arial, geneva; TEXT-DECORATION: underline
}
